.root{
    -fx-font-size: 16pt;
    -fx-font-family: "Courier New";
    -fx-base: rgb(255, 255, 0);
    /*
    -fx-background: rgb(225, 228, 203);
    */
    -fx-background: rgb(115, 115, 115);
}

.image-view{
    -fx-background-color: white;
}

.label{
    -fx-text-inner-color: red;
}


