.root{
    -fx-font-size: 14pt;
    -fx-base: rgb(0, 0, 0);
    -fx-background: rgb(255, 255, 255);
}

.image-view{
    -fx-background-color: white;
}

.label{
    -fx-text-inner-color: white;
}

.combo-box{
    -fx-background: black;
    -fx-base: rgb(255, 255, 255);
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-padding: 3 0 2 7;
    -fx-cell-size: 1.66667em;
    -fx-border-color: blue;
    -fx-border-width: 2;
    -fx-border-style: solid;
    -fx-font-weight: bold;
}

.combo-box:focused {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
    -fx-border-color: blue;
    -fx-border-width: 5;
    -fx-border-style: solid;
}

.image-view:focused {
    -fx-opacity: 0.35;
}

.text-field {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
    -fx-border-color: blue;
    -fx-border-width: 2;
    -fx-border-style: solid;
    -fx-font-weight: bold;
}

.text-field:focused {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
    -fx-border-color: blue;
    -fx-border-width: 5;
    -fx-border-style: solid;
}

.button {
    -fx-font-weight: bold;
}

#errorLabel {
    -fx-font-weight: bold;
}