.root{
    -fx-font-size: 14pt;
    -fx-base: rgb(10, 10, 10);
    -fx-background: rgb(234, 255, 255);
}

.image-view{
    -fx-background-color: white;
}

.label{
    -fx-text-inner-color: white;
}

.combo-box{
    -fx-background: black;
    -fx-base: rgb(255, 255, 255);
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-padding: 3 0 2 7;
    -fx-cell-size: 1.66667em;
}

.text-field {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.text-field:focused {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}


